<script type='application/ld+json'>
	{
		"@context":"https:\/\/schema.org",
		"@type":"Organization",
		"url":"https:\/\/www.smartdevelopers.eu\/","sameAs":[],"@id":"https:\/\/www.smartdevelopers.eu\/#organization","name":"SmartDevelopers","logo":"www.smartdevelopers.eu/img/logo.svg"
	}
</script>

<!-- BEGIN .header -->
<header class="header">
	<button class="btn-burger js-btn-nav" type="button">{{mixins.icon('burger')}}</button>
	<a href="#" class="logo logo_heading">{{mixins.icon('logo')}}</a>

	<div class="header__search">
		<a class="btn btn_ghost js-popup-control" href="#" data-popup="sidebar" title="Написать"><span>Написать</span></a>
	</div>

	<button type="button" class="js-search-btn search__btn" title="поиск">{{mixins.icon('search')}}</button>

	<div class="header__search-wrapper js-search-wrapper">
		<meta itemprop="url" content="smartdevelopers.eu"/>
		<div class="search" itemscope itemtype="http://schema.org/WebSite">
			<form action="/" method="get" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
				<meta itemprop="target" content="smartdevelopers.com.ua/?do=search&amp;searchstring={searchstring}">
				<input type="hidden" name="do" value="search">

				<div class="search__field">
					<input type="search" itemprop="query-input" name="searchstring" placeholder="Поиск по сайту" autofocus="autofocus" autocomplete="off">
				</div>
			</form>
		</div>
	</div>
</header>
<!-- END .header -->