---
title: Разработка
mainClasses: development-page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- BEGIN .preview -->
<section class="preview" style="background-image: url('img/bg-preview-software.jpg');">
	<div class="preview__wrapper">
		<!-- BEGIN .breadcrumbs -->
		<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/index" class="breadcrumbs__link" itemprop="item" title="Главная"><span itemprop="name">Главная</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/solutions" class="breadcrumbs__link" itemprop="item" title="Решения"><span itemprop="name">Решения</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/software" class="breadcrumbs__link" itemprop="item" title="Программное обеспечение"><span itemprop="name">Программное обеспечение</span></a>
				<meta itemprop="position" content="3">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="item" class="breadcrumbs__link" title="Разработка">
					<span itemprop="name">Разработка</span>
				</span>
				<meta itemprop="position" content="4">
			</li>
		</ul>
		<!-- END .breadcrumbs -->

		<div class="preview__wrapper-text preview_small">
			<h1 class="title-lg">Разработка</h1>
			<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>
	</div>
</section>
<!-- END .preview -->

<!-- BEGIN .development -->
<section class="development">
	<div class="inner">
		<div class="text-top">
			<h2>Что мы делаем</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
		</div>

		<h2>Кому это необходимо</h2>
		<ul>
			<li>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			</li>

			<li>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			</li>

			<li>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			</li>
		</ul>
	</div>
</section>
<!-- END .development -->

<!-- BEGIN .cases -->
<section class="cases">
	<div class="inner">
		<div class="info__field">
			<div class="info__col">
				<h3 class="title-semi-md text-blue">Услуги</h3>
				<ul>
					<li><a href="#" title="Консалтинг">Консалтинг</a></li>
					<li><a href="#" title="MVP">MVP</a></li>
					<li><a href="#" title="ИТ-аудит">ИТ-аудит</a></li>
					<li><a href="#" title="UI/UX дизайн">UI/UX дизайн</a></li>
					<li><a href="#" title="Бизнес-анализ">Бизнес-анализ</a></li>
					<li><a href="#" title="Внедрение">Внедрение</a></li>
					<li><a href="#" title="Проектирование">Проектирование</a></li>
					<li><a href="#" title="Реинжиниринг">Реинжиниринг</a></li>
				</ul>
			</div>

			<div class="info__col">
				<h3 class="title-semi-md text-blue">Компетенции</h3>
				<ul>
					<li><a href="#" title="Java и .Net">Java и .Net</a></li>
					<li><a href="#" title="Непрерывная интеграция">Непрерывная интеграция</a></li>
					<li><a href="#" title="Открытое ПО">Открытое ПО</a></li>
					<li><a href="#" title="DevOps и экстремальное программирование">DevOps и экстремальное программирование</a></li>
					<li><a href="#" title="Унаследованные системы">Унаследованные системы</a></li>
					<li><a href="#" title="Разработка через тестирование (TDD)">Разработка через тестирование (TDD)</a></li>
					<li><a href="#" title="Проприетарные решения">Проприетарные решения</a></li>
					<li><a href="#" title="Agile и Lean">Agile и Lean</a></li>
					<li><a href="#" title="Непрерывная поставка">Непрерывная поставка</a></li>
				</ul>
			</div>
		</div>

		<div class="items">
			<div class="item bg-blue" style="background-image: url('img/case-item.jpg');">
				<div class="item__content">
					<a href="#" class="text-shaped" title="ТЕХНОЛОГИЧЕСКИЙ СЕКТОР">ТЕХНОЛОГИЧЕСКИЙ СЕКТОР</a>
					<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
					<a href="#" class="btn btn_ghost btn_icon text-white" title="КАК ЭТО БЫЛО"><span>КАК ЭТО БЫЛО</span>{{mixins.icon('arrow', 'arrow_white')}}</a>
				</div>
			</div>

			<div class="item bg-green" style="background-image: url('img/case-item.jpg');">
				<div class="item__content">
					<a href="#" class="text-shaped" title="ТЕХНОЛОГИЧЕСКИЙ СЕКТОР">ТЕХНОЛОГИЧЕСКИЙ СЕКТОР</a>
					<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
					<a href="#" class="btn btn_ghost btn_icon text-white" title="СМОТРЕТЬ КЕЙС"><span>СМОТРЕТЬ КЕЙС</span>{{mixins.icon('arrow', 'arrow_white')}}</a>
				</div>
			</div>
		</div>

		<a href="#" class="btn btn_primary" title="СМОРЕТЬ ВСЕ КЕЙСЫ">СМОРЕТЬ ВСЕ КЕЙСЫ</a>
	</div>
</section>
<!-- END .cases -->
{% include "blocks/_question.html" %}
{% endblock%}
