---
title: Банки и финансы
mainClasses: industry-page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- BEGIN .preview -->
<section class="preview" style="background-image: url('img/bg-preview-industry.jpg');">
	<div class="preview__wrapper">
		<!-- BEGIN .breadcrumbs -->
		<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/index" class="breadcrumbs__link" itemprop="item" title="Главная"><span itemprop="name">Главная</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/industries" class="breadcrumbs__link" itemprop="item" title="Отрасли"><span itemprop="name">Отрасли</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="item" class="breadcrumbs__link" title="Банки и финансы">
					<span itemprop="name">Банки и финансы</span>
				</span>
				<meta itemprop="position" content="3">
			</li>
		</ul>
		<!-- END .breadcrumbs -->

		<div class="preview__wrapper-text preview_small">
			<h1 class="title-lg">Банки и финансы</h1>
			<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>

		<div class="js-slider-preview preview__slider">
			{% for item in range(0, 12) %}
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- END .preview -->

<!-- BEGIN .progress -->
<section class="progress">
	<ul class="progress-items">
		<li class="progress-item">
			<p class="progress-number">54</p>
			<h3>Lorem ipsum dolor </h3>
			<p class="progress-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo dolor.</p>
		</li>

		<li class="progress-item">
			<p class="progress-number">99</p>
			<h3>Lorem ipsum dolor </h3>
			<p class="progress-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo dolor.</p>
		</li>

		<li class="progress-item">
			<p class="progress-number">99</p>
			<h3>Lorem ipsum dolor </h3>
			<p class="progress-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo dolor.</p>
		</li>
	</ul>

	<div class="progress-wrapper">
		<div class="progress-text">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
			<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
		</div>

		<div class="progress-text">
			<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
			<p>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. </p>
		</div>
	</div>
</section>
<!-- END .progress -->

<!-- BEGIN .scope -->
<section class="scope">
	<h3>Компетенции</h3>
	<ul>
		<li>{{mixins.icon('check')}}<p>Дистанционное банковское обслуживание</p></li>
		<li>{{mixins.icon('check')}}<p>Интеграция цифровых и традиционных каналов</p></li>
		<li>{{mixins.icon('check')}}<p>Управление опытом клиентов, цифровой маркетинг</p></li>
		<li>{{mixins.icon('check')}}<p>Мобильные приложения</p></li>
		<li>{{mixins.icon('check')}}<p>Аналитика, обработка и визуализация данных</p></li>
		<li>{{mixins.icon('check')}}<p>Кредитный конвейер и процессы кредитования</p></li>
	</ul>

	<ul>
		<li>{{mixins.icon('check')}}<p>Операции с пластиковыми картами, платежи и переводы</p></li>
		<li>{{mixins.icon('check')}}<p>Ко-брендинговые проекты и взаимодействие с партнерами</p></li>
		<li>{{mixins.icon('check')}}<p>Интеграция информационных систем банка</p></li>
		<li>{{mixins.icon('check')}}<p>Банковская инфосреда для малого и среднего бизнеса</p></li>
		<li>{{mixins.icon('check')}}<p>Управление рисками</p></li>
	</ul>
</section>
<!-- END .scope -->

<!-- BEGIN .cases -->
<section class="cases">
	<div class="inner">
		<h2 class="title-semi-lg">NN лет опыта в различных сферах и областях</h2>
		<div class="items">
			<div class="item bg-blue" style="background-image: url('img/case-item.jpg');">
				<div class="item__content">
					<a href="#" class="text-shaped" title="ТЕХНОЛОГИЧЕСКИЙ СЕКТОР">ТЕХНОЛОГИЧЕСКИЙ СЕКТОР</a>
					<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
					<a href="#" class="btn btn_ghost btn_icon text-white" title="КАК ЭТО БЫЛО"><span>КАК ЭТО БЫЛО</span>{{mixins.icon('arrow', 'arrow_white')}}</a>
				</div>
			</div>

			<div class="item bg-green" style="background-image: url('img/case-item.jpg');">
				<div class="item__content">
					<a href="#" class="text-shaped" title="ТЕХНОЛОГИЧЕСКИЙ СЕКТОР">ТЕХНОЛОГИЧЕСКИЙ СЕКТОР</a>
					<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
					<a href="#" class="btn btn_ghost btn_icon text-white" title="СМОТРЕТЬ КЕЙС"><span>СМОТРЕТЬ КЕЙС</span>{{mixins.icon('arrow', 'arrow_white')}}</a>
				</div>
			</div>

			<div class="item bg-blue" style="background-image: url('img/case-item.jpg');">
				<div class="item__content">
					<a href="#" class="text-shaped" title="ТЕХНОЛОГИЧЕСКИЙ СЕКТОР">ТЕХНОЛОГИЧЕСКИЙ СЕКТОР</a>
					<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
					<a href="#" class="btn btn_ghost btn_icon text-white" title="ПОДРОБНЕЕ"><span>ПОДРОБНЕЕ</span>{{mixins.icon('arrow', 'arrow_white')}}</a>
				</div>
			</div>

			<div class="item bg-green" style="background-image: url('img/case-item.jpg');">
				<div class="item__content">
					<a href="#" class="text-shaped" title="ТЕХНОЛОГИЧЕСКИЙ СЕКТОР">ТЕХНОЛОГИЧЕСКИЙ СЕКТОР</a>
					<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
					<a href="#" class="btn btn_ghost btn_icon text-white" title="УЗНАТЬ БОЛЬШЕ"><span>УЗНАТЬ БОЛЬШЕ</span>{{mixins.icon('arrow', 'arrow_white')}}</a>
				</div>
			</div>
		</div>

		<a href="#" class="btn btn_primary" title="СМОРЕТЬ ВСЕ КЕЙСЫ">СМОРЕТЬ ВСЕ КЕЙСЫ</a>
	</div>
</section>
<!-- END .cases -->

<!-- BEGIN .news -->
<section class="news news_white">
	<div class="inner">
		<div class="news__title">
			<h2 class="title-semi-lg">Идеи и проекты</h2>
			<a href="#" class="btn btn_ghost text-gray" title="СМОТРЕТЬ ВСЕ">СМОТРЕТЬ ВСЕ</a>
		</div>
	</div>

	<div class="news__overlay">
		<div class="js-news-slider news__slider">
			{% for item in range(0, 6) %}
			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-00.jpg');">
					<a href="#" class="text-shaped" title="Пресс-релис">Пресс-релис</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>

<section class="news">
	<div class="inner">
		<div class="news__title">
			<h2 class="title-semi-lg">Новости и события</h2>
			<a href="#" class="btn btn_ghost text-gray">СМОТРЕТЬ ВСЕ</a>
		</div>
	</div>

	<div class="news__overlay">
		<div class="js-news-slider news__slider">
			{% for item in range(0, 6) %}
			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-00.jpg');">
					<a href="#" class="text-shaped" title="Пресс-релис">Пресс-релис</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- END .news -->
{% include "blocks/_question.html" %}
{% endblock %}