---
title: Industries
mainClasses: main-industries
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- BEGIN .preview -->
<section class="preview" style="background-image: url('img/bg-industries@2x.jpg');">
	<div class="preview__wrapper">
		<!-- BEGIN .breadcrumbs -->
		<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/index" class="breadcrumbs__link" itemprop="item" title="Главная"><span itemprop="name">Главная</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="item" class="breadcrumbs__link" title="Отрасли">
					<span itemprop="name">Отрасли</span>
				</span>
				<meta itemprop="position" content="2">
			</li>
		</ul>
		<!-- END .breadcrumbs -->

		<div class="preview__wrapper-text">
			<h1 class="title-lg">Отрасли</h1>
			<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>

		<div class="js-slider-preview preview__slider">
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>

			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>

			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
			<div class="item"><img src="img/60.jpg" alt="Slider Image"></div>
		</div>
	</div>
</section>
<!-- END .preview -->

<!-- BEGIN .preview -->
<section class="industries">
	<div class="inner">
		<ul>
			<li><img src="img/industries-coins.jpg" alt="coins"><p>Банки и финансы</p></li>
			<li><img src="img/industries-insurance.jpg" alt="insurance"><p>Страхование</p></li>
			<li><img src="img/industries-technics.jpg" alt="technics"><p>Технологический </p></li>
			<li><img src="img/industries-trade.jpg" alt="trade"><p>Розничная торговля и потребительские товары</p></li>
			<li><img src="img/industries-journey.jpg" alt="journey"><p>Путешествия</p></li>
			<li><img src="img/industries-fuel.jpg" alt="fuel"><p>Топливно-энергетический комплекс</p></li>
			<li><img src="img/industries-media.jpg" alt="media"><p>Медиа и развлечения</p></li>
			<li><img src="img/industries-medicine.jpg" alt="medicine"><p>Медицина и биотехнологии</p></li>
			<li><img src="img/industries-rialto.jpg" alt="rialto"><p>Формирующиеся рынки</p></li>
			<li><img src="img/industries-inform.jpg" alt="inform"><p>Информационный бизнес, обучение online</p></li>
		</ul>
	</div>
</section>

<!-- END .preview -->


<!-- BEGIN .news -->
<section class="news">
	<div class="inner">
		<div class="news__title">
			<h2 class="title-semi-lg">Идеи и проекты</h2>
			<a href="#" title="СМОТРЕТЬ ВСЕ" class="btn btn_ghost text-gray">СМОТРЕТЬ ВСЕ</a>
		</div>
	</div>

	<div class="news__overlay">
		<div class="js-news-slider news__slider">
			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-00.jpg');">
					<a href="#" class="text-shaped" title="Кейс">Кейс</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-01.jpg');">
					<a href="#" class="text-shaped" title="Проект">Проект</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-02.jpg');">
					<a href="#" class="text-shaped" title="Стартап">Стартап</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-01.jpg');">
					<a href="#" class="text-shaped" title="Проект">Проект</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-01.jpg');">
					<a href="#" class="text-shaped" title="Проект">Проект</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item__image" style="background-image: url('img/news-item-01.jpg');">
					<a href="#" class="text-shaped" title="Проект">Проект</a>
				</div>

				<div class="item__content">
					<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

					<div class="item__bottom">
						<p class="item__date">20 марта</p>
						<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END .news -->
{% include "blocks/_question.html" %}
{% endblock %}
