---
formBg: bg-gray
title: Руководство
mainClasses: main-leadership
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--BEGIN .preview -->
<section class="preview" style="background-image: url('img/bg-leadership.jpg');">
	<div class="preview__wrapper">
		<!-- BEGIN .breadcrumbs -->
		<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/index" class="breadcrumbs__link" itemprop="item" title="Главная"><span itemprop="name">Главная</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/about" class="breadcrumbs__link" itemprop="item" title="О компании"><span itemprop="name">О компании</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.com.ua/company" class="breadcrumbs__link" itemprop="item" title="Компания"><span itemprop="name">Компания</span></a>
				<meta itemprop="position" content="3">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="item" class="breadcrumbs__link" title="Руководство">
					<span itemprop="name">Руководство</span>
				</span>
				<meta itemprop="position" content="4">
			</li>
		</ul>
		<!-- END .breadcrumbs -->
		<div class="preview__wrapper-text">
			<h1 class="title-lg">Руководство</h1>
			<p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>
	</div>
</section>
<!-- END .preview -->

<section class="leadership">
	<div class="inner">
		<div class="leadership-item" itemscope itemtype="http://schema.org/Person">
			<div class="leadership-img"></div>
			<div class="leadership-text">
				<h2><span itemprop="name">Maecenas Tempus</span></h2>
				<p><span itemprop="disambiguatingDescription">ДИРЕКТОР SMART DEVELOPERS В УКРАИНЕ</span></p>
				<div itemprop="description">
					<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
					<p>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</p>
				</div>
			</div>
		</div>

		<div class="leadership-item leadership-item_another" itemscope itemtype="http://schema.org/Person">
			<div class="leadership-img"></div>
			<div class="leadership-text">
				<h2><span itemprop="name">Maecenas Tempus</span></h2>
				<p><span itemprop="disambiguatingDescription">ДИРЕКТОР SMART DEVELOPERS В УКРАИНЕ</span></p>
				<div itemprop="description">
					<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
					<p>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</p>
				</div>
			</div>
		</div>

		<div class="leadership-item" itemscope itemtype="http://schema.org/Person">
			<div class="leadership-img"></div>
			<div class="leadership-text">
				<h2><span itemprop="name">Maecenas Tempus</span></h2>
				<p><span itemprop="disambiguatingDescription">ДИРЕКТОР SMART DEVELOPERS В УКРАИНЕ</span></p>
				<div itemprop="description">
					<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
					<p>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include "blocks/_question.html" %}
{% endblock %}
