---
title: News-post
mainClasses: main-news-post
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--BEGIN .preview -->
<section class="preview" style="background-image: url('img/bg-new-post.jpg');">
	<div class="preview__wrapper">
		<!-- BEGIN .breadcrumbs -->
		<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.eu/index" class="breadcrumbs__link" itemprop="item" title="Главная"><span itemprop="name">Главная</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.eu/about" class="breadcrumbs__link" itemprop="item" title="О компании"><span itemprop="name">О компании</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<a href="http://smartdevelopers.eu/news" class="breadcrumbs__link" itemprop="item" title="Новости и события"><span itemprop="name">Новости и события</span></a>
				<meta itemprop="position" content="3">
			</li>
			<li itemprop="itemListElement" class="breadcrumbs__item" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="item" class="breadcrumbs__link" title="Название новости">
					<span itemprop="name">Название новости</span>
				</span>
				<meta itemprop="position" content="4">
			</li>
		</ul>
		<!-- END .breadcrumbs -->

		<div class="preview__wrapper-text">
			<h1 class="title-lg">Название новости</h1>
			<p class="text-md">
				<span class="preview__date">16 марта 2018</span>
				<span class="preview__type-news">Пресс-релиз</span>
			</p>
		</div>
	</div>
</section>
<!-- END .preview -->

<section class="post-text-top">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
</section>
<!-- END .post-text-top -->

<section class="progress">
	<h2>H2 title</h2>
	<div class="progress-wrapper">
		<div>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
			<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
		</div>
		<div>
			<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
			<p><i>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.</i> Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. </p>
		</div>
	</div>
</section>
<!-- END .progress -->

<section class="sldr">
	<div class="sldr-wrapper js-country-slider">
		<img src="img/country-slider-1.jpg" alt="slider-1">
		<img src="img/country-slider-2.jpg" alt="slider-2">
		<img src="img/country-slider-1.jpg" alt="slider-1">
		<img src="img/country-slider-2.jpg" alt="slider-2">
		<img src="img/country-slider-1.jpg" alt="slider-1">
		<img src="img/country-slider-2.jpg" alt="slider-2">
		<img src="img/country-slider-1.jpg" alt="slider-1">
		<img src="img/country-slider-2.jpg" alt="slider-2">
	</div>
	<p class="sldr-number"></p>
</section>
<!-- END .sldr -->

<section class="post-content">
	<p >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	<h3>H3 title</h3>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Donec quam felis, ultricies nec,</strong> pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
	<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. <a href="#" title="Sed fringilla mauris">Sed fringilla mauris</a> sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.</p>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
		<li>Phasellus viverra nulla ut metus varius laoreet.</li>
		<li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</li>
		<li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. </li>
	</ul>
	<img src="img/new-post_img.jpg" alt="new-post">
	<small><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</em></small>
</section>
<!-- END .post-content -->

<section class="post-table">
	<table>
		<tr>
			<th>Lorem ipsum dolor</th>
			<th>Phasellus viverra</th>
			<th>Vestibulum purus quam</th>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor</td>
			<td>0.115</td>
			<td>true</td>
		</tr>
	</table>
</section>
<!-- END .post-table -->

<section class="quote">
	<div class="quote-wrapper">
		<p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </em></p>
		<p class="quote-name">— Phasellus Viverra, Company name</p>
	</div>
</section>
<!-- END .quote -->

<section class="progress">
	<div class="progress-wrapper">
		<div>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
			<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
		</div>
		<div>
			<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
			<p><i>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.</i> Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. </p>
		</div>
	</div>
</section>
<!-- END .progress -->

<section class="post-content">
	<ol>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
		<li>Phasellus viverra nulla ut metus varius laoreet.</li>
		<li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</li>
		<li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. </li>
	</ol>
</section>
<!-- END .post-content -->

<section class="news news_tab">
	<div class="inner ">
		<div class="news__title ">
			<h2 class="title-semi-lg ">Новости по теме</h2>
			<a href="#" class="btn btn_ghost text-gray" title="СМОТРЕТЬ ВСЕ">СМОТРЕТЬ ВСЕ</a>
		</div>

		<div class="tabs">
			<div class="tabs__field news_tab">
				{% for item in range(0, 2) %}
				<div class="item">
					<div class="item__image" style="background-image: url('img/news-item-00.jpg');"><a href="#" class="text-shaped" title="Пресс-релис">Пресс-релис</a></div>
					<div class="item__content">
						<p class="item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						<div class="item__bottom">
							<p class="item__date">20 марта</p>
							<a href="#" class="item__link" title="Читать полностью">Читать полностью</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- END news news_tab -->
{% include "blocks/_question.html" %}
{% endblock %}
