<!-- BEGIN .footer -->
<footer class="footer">
	<div class="footer__center">
		<div class="footer__in">
			<div class="footer__col media-sm">
				<div class="footer__field">
					<a href="about.html" class="title-sm" title="О КОМПАНИИ">О КОМПАНИИ</a>
					<ul class="list-vertical">
						<li><a href="leadership.html" title="Руководство">Руководство</a></li>
						<li><a href="news.html" title="Новости и события">Новости и события</a></li>
						<li><a href="#" title="Инвесторам">Инвесторам</a></li>
						<li><a href="contacts.html" title="Контакты">Контакты</a></li>
					</ul>
				</div>

				<div class="footer__field">
					<a href="solutions.html" class="title-sm" title="РЕШЕНИЯ">РЕШЕНИЯ</a>
					<ul class="list-vertical">
						<li><a href="software.html" title="Программное обеспечение">Программное обеспечение</a></li>
						<li><a href="technologies.html" title="Продвинутые технологии">Продвинутые технологии</a></li>
						<li><a href="smart-company.html" title="Умное предприятие">Умное предприятие</a></li>
						<li><a href="digital-transformation.html" title="Цифровая трансформация">Цифровая трансформация</a></li>
					</ul>
				</div>
			</div>

			<div class="footer__col">
				<div class="footer__field mr-0">
					<a href="career.html" class="title-sm" title="КАРЬЕРА">КАРЬЕРА</a>
					<ul class="list-vertical">
						<li><a href="vacancies.html" title="Вакансии">Вакансии</a></li>
						<li><a href="trainings.html" title="Тренинги">Тренинги</a></li>
						<li><a href="vuz.html" title="Сотрудничество с вузами">Сотрудничество с вузами</a></li>
						<li><a href="resume.html" title="Отправить резюме">Отправить резюме</a></li>
					</ul>
				</div>
			</div>

			<div class="container-box">
				<ul class="list-lang text-light">
					<li><a href="#" title="RU" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language"><span itemprop="name">RU</span></a></li>
					<li><a href="#" title="EN" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language"><span itemprop="name">EN</span></a></li>
					<li><a href="#" title="PL" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language"><span itemprop="name">PL</span></a></li>
				</ul>

				<a href="#" class="logo logo_footer" title="SmartDevelopers company Logo Image">{{mixins.icon('logo')}}</a>
				<ul class="list-social">
					<li><span class="social__link" data-link="https://www.facebook.com/smartdevelopers" title="facebook">{{mixins.icon('facebook')}}</a></li>
					<li><span class="social__link" data-link="https://www.twitter.com/smartdevelopers" title="twitter">{{mixins.icon('twitter')}}</a></li>
					<li><span class="social__link" data-link="https://www.linkedin.com/smartdevelopers" title="linkedin">{{mixins.icon('linkedin')}}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		<p class="copyright">© Copyright  2018 SmartDevelopers</p>
		<div class="links">
			<a href="privacy-policy.html" title="Privacy Policy">Privacy Policy</a>
			<a href="sitemap.html" title="Sitemap">Sitemap</a>
		</div>
	</div>
</footer>
<!-- END .footer -->