{% set
	list = [
	{
		title: 'О компании',
		menu: 'menu1',
		text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
	},
	{
		title: 'Решения',
		menu: 'menu2',
		text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. quidem excepturi, perferendis eos.'
	},
	{
		title: 'Отрасли',
		menu: 'menu3',
		text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
	},
	{
		title: 'Идеи и проекты',
		menu: 'menu4',
		text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
	},
	{
		title: 'Карьера',
		menu: 'menu5',
		text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
	},
	{
		title: 'Контакты',
		menu: 'menu6',
		text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
	}
	]
	%}
