.icon-arrow {
  width: 1.58em;
  height: 1em;
  fill: initial;
}
.icon-bank-building {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bullet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-caret {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
.icon-chip {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-energy {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-engagement {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.47em;
  height: 1em;
  fill: initial;
}
.icon-gamepad {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-insurance {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-laboratory {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 5.81em;
  height: 1em;
  fill: initial;
}
.icon-medicine {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-milk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-planet-00 {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-planet-01 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-planet-02 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-planet-03 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-send {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-travels {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
